async-timeout==3.0.1
certifi==2021.5.30
chardet==4.0.0
colorama==0.4.4
idna==2.10
Pillow==8.1.2
prettytable==2.1.0
psutil==5.8.0
pyaes==1.6.1
pyasn1==0.4.8
PyExecJS==1.5.1
python-socks==1.2.4
qrcode==6.1
requests==2.25.1
rsa==4.7.2
six==1.16.0
Telethon==1.21.1
urllib3==1.26.5
wcwidth==0.2.5
